html body {
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
    text-align: center;
}
.head {
    max-width: 100%;
    height: 70px;
    background-color: #ddd;
}
.head-main {
    max-width: 1200px;
    min-width: 960px;
    text-align: center;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: center;
}
.logo {
    font-size: 2rem;
    width: 30%;
    display: flex;
    justify-content: center;
}
.menu {
    width: 70%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu li {
   display:inline
}